@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.glow {
  font-family: 'Caveat', cursive;
  font-size: 6rem; /* Default size for smaller screens */
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
  animation: glow 1.5s infinite alternate, color-change 3s infinite;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff, 0 0 80px #ff00ff;
  }
}

@keyframes color-change {
  0% { color: #ff51ff; }
  25% { color: #5bff46; }
  50% { color: #ffff00; }
  75% { color: #6b46ff; }
  100% { color: #00ffff; }
}

@media (min-width: 768px) {
  .glow {
    font-size: 9rem; /* Larger size for medium and larger screens */
  }
}
